:root {
  --yellow: #F4CE14;
  --bg-green: #495E57;
  --secondary: #EE9972;
  --secondary-white: #FBDABB;
  --highlight-light: #EDEFEE;
  --highlight-dark: #333;
  --font-regular: 'Karla', sans-serif;
  --font-medium: 'Markazi Text', sans-serif
}

* {
  font-family: var(--font-regular);
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}


#root {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100vw;
  /*color: #fff;*/
}

.container-xlg {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.about-container {
  background: var(--bg-green);
  height: 400px;
}

.container {
  width: 1000px!important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main h1 {
  color: var(--yellow);
  font-size: 46px;
  margin-bottom: 0;
}
main h2 {
  margin-top: 0;
}


.subtitle {
  font-size: 40pt;
  margin: 0;
}

.content {
  font-size: 18pt;
  font-family: var(--font-medium);
}

.card-title {
  font-weight: bold;
  font-size: 18pt;
}

.paragraph {
  font-size: 16pt;
  line-height: 1.5;
}

.highlight-text {
  font-family: var(--font-medium);
  font-size: 16pt;
}

h1 {
  font-size: 40px;
}

.radius {
  border-radius: 16px;
}

footer {
  height: 400px;
  padding: 2em 0 2em 0 !important;
  background: var(--highlight-light);
  width: 100%;
}

.flex {
  display: flex;
  gap: 5px;
}

.column {
  flex-direction: column;
}


.column {
  flex-direction: column;
}

footer ul li {
  list-style: none;
  color: #868e96;
}

footer ul {
  padding: 0;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
}
